{
    "port": "3000",
    "credentials": {
        "db": {
            "host": "example.com",
            "port": 27017,
            "database": "forms",
            "username": "user",
            "password": "password"
        },
        "mail": {
            "host": "smtp.example.com",
            "port": 465,
            "secure": true,
            "username": "noreply@example.com",
            "password": "password",
            "receivers": ["receiver@example.com"]
        }
    }
}